# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
* List popular languages in data science
* List some libraries commonly used in data science
* Perform simple arithmetic
* Create a simple table in markdown

Some of the popular languages Data Scientists use are
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries by Data Scientist are 
1. Pandas
2. Numpy
3. ScikitLearn
4. ggplot
5. caret

|Data Science Tools|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|


_I'm just realizing that the table function doesn't work in google colab. I had to use colab due to some system issues with my Jupyter Notebook_

### Below are a few examples of evluating arithmetic expressions in python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200mins to hours by diving by 60
m = 200
h = m/60
rounded = round(h, 2)
print("200mins is equal to", rounded, "hours")

200mins is equal to 3.33 hours

## Author
Etornam Tsyawo